<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <form action="/notes/create" method="POST" class="form-signin">       
            <h2 class="form-signin-heading">Fill out form.</h2>
            <div>
                <label for="title-name" </label>
                <input type="text" class="form-control" id="title-desc" name="title" placeholder="Name" required=""/>
            </div>
            <div>
                <label for="description" </label>
                <input type="text" class="form-control" id="desc" name="description" placeholder="Fill out" required=""/>
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block login-button" type="submit">Submit</button>   
        </form>
    </div>
</body>
</html>