<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <h1>Registration successful.
        <br>
        <nav>
            <ul>
                <li><a href="/users/login">Log in?</a></li>
                <li><a href="/users/register">Create another account?</a></li>
            </ul>
        </nav>
</body>
</html>